body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

/* solution */

.card {
  /* WHYYYYYYYYY DOES THIS WORK THIS WAY */
  /* SETTING THIS TO 8 GETS 16 */
  /* SETTING THIS TO 1 GETS 9 */
  /* SETTING THIS TO 0 GETS 0 */
  /* SO THE ONLY WAY TO GET IT TO ACUTALLY PAD 8 */
  /* IS TO FORCE CSS TO ROUND DOWN TO 8 */
  /* SEND HELP */
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.card > * {
  padding: 8px;
  margin: 8px;
}

.title {
  font-size: 16px;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container > * {
  /* LOOK I DON'T KNOW OKAY */
  width: 100%;
  padding: auto;
}

button {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
